streamlit==1.36.0
requests==2.32.3
vertexai==1.49.0
langchain==0.2.10
pypdf2==4.3.0
pandas==2.2.2
numpy==2.0.0
matplotlib==3.9.1
ipython==8.26.0
openai==1.36.1
gtts==2.5.2
pydub==0.25.1
credentials==1.1
